<!DOCTYPE html>

    {%- include head.html -%}
    

  <body>
    <div class="flex-container">
      <div class="sidebar">
        {%- include sidebar.html -%}
      </div>
      <div class="content">
        
        {% for post in site.posts %}
        <div class="post">
      
          <div class="post-title">
              <a class="font-lobster" href="{{ post.url }}">{{ post.title }}</a>

            <div class="post-details">posted on :  {{ post.date | date: "%Y-%m-%d" }}</div>
          </div>

          <div class="post-content">
            {{ post.excerpt }}
          </div>

        </div>
        {% endfor %}

      </div>
    </div>
  </body>
</html>
