---
layout: post
---

<!DOCTYPE html>

    {%- include head.html -%}
    

  <body>
    <div class="flex-container">
      <div class="sidebar">
        {%- include sidebar.html -%}
      </div>
      <div class="content">
        
        <div class="post">
      
          <div class="post-title">
            <div>
              <a class="font-lobster" href="{{ page.url }}">{{ page.title }}</a>
            </div>

            <div class="post-details">posted on :  {{ page.date | date: "%Y-%m-%d" }}</div>
          </div>

          <div class="post-content">
            {{ page.content }}
          </div>

        </div>

      </div>
    </div>
  </body>
</html>
