html, body  {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #CEF2FF;
  background-image: linear-gradient(to bottom right, #CEF2FF, #E0EEC6);
}

.font-lobster {
 font-family: 'Lobster', cursive;
}

.font-abril-fatface {
  font-family: 'Abril Fatface', cursive;
}


.flex-container {
  display: flex;
  justify-content: flex-start;
  min-height: 100%;
}

.sidebar {
  width: 25%;
  padding-left: 10px;
  background: #343E48;
  color:#FFF;
}

.sidebar-container {
  position: fixed;
  padding-left: 25px;
  padding-top:105px;
}

.sidebar-container .headline {
  width: 65%;
  font-size: 49px;
  font-weight: bold;
  padding: 5px 0;
}

.sidebar-container > img {
  width: 125px;
  height: 125px;
  border: #EEE solid 5px;
}

.sidebar-container > ul {
  list-style-type:none;
  padding: 5px 25px;
}

.sidebar-container > ul li a {
  font-weight:bold;
}

.content {
  width: 55%;
  padding: 105px 75px 15px 25px;
  line-height: 1.75em;
}

.post {
  padding: 36px 0;
 }

.post-title {
  line-height:2.45em;
}

.post-title .font-lobster {
  font-weight:bolder;
  font-size: 48px;
}

.post-title .post-details {
  font-size:12px;
}

div.divider {
  width: 100%;
  border: #CCC dashed 1px;
}

.footer {
  min-height:175px;
  padding-left: 300px;
}



